body {
    overflow-x:hidden;
    padding-bottom: 20px;
}

.logo {
    padding:10px;
}

.line {
    border-bottom: 1px dotted grey;
}

.content {
    padding: 20px;
}

.content img {
    width: 100px;
}